<div class="social_links">
    <div class="insta">
        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/vashipirogi16/">
            <img src="/icons/instagram.png" alt="">
        </a>
    </div>
    <div class="vk">
        <a target="_blank" rel="noopener noreferrer" href="https://vk.com/vashipirogi16">
            <img src="/icons/vk.png" alt="">
        </a>
    </div>
    <div class="gmaps">
        <!-- https://goo.gl/maps/j1dgu23zhQDEK5X68 -->
        <a target="_blank" rel="noopener noreferrer" href="https://goo.gl/maps/j1dgu23zhQDEK5X68">
            <img src="/icons/gmaps.png" alt="">
        </a>
    </div>
</div>