<div class="logo">
    <img src="images/logo.png" alt="" />
    <div class="slogan">Доставим пироги быстро</div>
    <div class='header_menu'>
        <div class="header_menu_link">
            <div class="header_menu_item">
                <a href="#page-1">Сладкие</a>
            </div>
            <div class="header_menu_item">
                <a href="#page-2">Овощные</a>
            </div>
            <div class="header_menu_item">
                <a href="#page-3"> Сытные</a>
            </div>
        </div>
    </div>
</div>