<div class="logo">
    <div>
        <img src="images/logo.png" alt="" />
        <div class="city">Казань</div>

        <div class="social_links" style="position:absolute; left:-80px;top:15px;">
            <div class="insta">
                <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/vashipirogi16/">
                    <img src="/icons/instagram.png" style="width:42px ;" alt="">
                </a>
            </div>
            <div class="vk">
                <a target="_blank" rel="noopener noreferrer" href="https://vk.com/vashipirogi16">
                    <img src="/icons/vk.png" style="width:50px ;" alt="">
                </a>
            </div>
        </div>

    </div>

</div>
<div class="">Доставка от 1000 руб. бесплатно</div>
<div class="">Режим работы с 9 до 20:00</div>
<div class="phoneLink">
    <a href="tel:203-45-45">203-45-45</a>
</div>