<%- include('../metrika/metrika.ejs')%>
<title>Доставка пирогов "Ваши пироги" Казань</title>
<meta chartset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name='Description' content="'Ваши пироги' - доставка выпечки к Вам домой.
У нас вы можете закзать пироги на любой вкус: сладкие, вкусные и сытные.
Мы - лучшие в своем деле и это не преувеличение. Это - отзывы наших клиентов.
Вот уже более пяти лет мы с любовью печём пироги для наших клиентов. Всегда свежие, сытные и вкусные!
Наши пироги украсят ваш стол и удивят гостей неповторимым вкусом.
">
<meta name="keywords" content="
доставка еды,
доставка еды Казань,
сладкие пироги,
яблочный пирог,
Пирог с яблоком и брусникой,
Пирог с вишней,
Пирог с клубникой,
Пирог с брусникой,
Пирог 'Венский',
Пирог 'День и ночь',
Пирог 'Нежность',
Пирог 'Маковый',
Пирог с черной смородиной,
Пирог c черникой,
овощные пироги,
Пирог с капустой,
Пирог с капустой и яйцом,
Пирог с капустой и грибами,
Пирог с картофелем,
сытные пироги,
мясные пироги,
Пирог с сыром,
Пирог с сыром и грибами,
Пирог с курицей,
Пирог с свининой,
Пирог с говядиной,
Пирог 'Жульен',
Пирог c cёмгой,
Пирог с индейкой и картофелем,
Пирог с индейкой и капустой с грибами,
Пирог с горбушей и картофелем,
Пирог с судаком и картофелем,
Пирог с индейкой и рисом с грибами,
Пирог с горбушей и рисом,
Пирог с судаком и рисом
">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta property="og:type" content="website">
<meta property="og:title" content="Пироги на любой вкус. Сладкие, вкусные, сытные...">
<meta property="og:description" content="Попробуй наши пироги и ты не останешься к этому равнодушным">
<meta property="og:url" content="https://vashipirogi.ru">
<meta property="og:image" content="/images/cakes/cherry.jpg">
<meta property="og:site_name" content="Ваши пироги">
<link rel="stylesheet" type="text/css" href="/css/styles.min.css">
<script src="/js/jquery.min.js"></script>
<%-include('favicons.ejs')%>