<!-- Navigation menu -->
<div class="navbar">
    <div class="navbar_links">
        <div class="navbar_item">
            <a href="#page-1">Сладкие</a>
        </div>
        <div class="navbar_item">
            <a href="#page-2">Овощные</a>
        </div>
        <div class="navbar_item">
            <a href="#page-3">Сытные</a>
        </div>
    </div>

</div>