.navbar,
.navbar_links,
.navbar_item {
    height: 25px;
}

div.navbar {
    display: grid;
    position: fixed;
    width: 100vw;
    bottom: 0;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    background-color: #F7E8D8;
    grid-template-areas: ". links .";
}

.navbar_links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.navbar_item {
    border-top: 2px solid rgba(210, 180, 140, 0.5);
}

.navbar_item:hover {
    border-top: 5px solid rgba(210, 180, 140, 1);
    background-color: rgba(210, 180, 140, 0.4);
}

.navbar_item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media screen and (max-width:620px) {
    div.navbar {
        grid-template-areas: "links links links";
    }
    .navbar_links {
        grid-area: links;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}