div.page-4 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    z-index: 2;
    background-color: rgba(180, 180, 180, 0.8);
    grid-template-areas: ". . ." ". basket_info ." ". . .";
    align-items: center;
}

div.page-4 .basket_info {
    grid-area: basket_info;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(250, 250, 250, 0.5);
    box-shadow: 0 0 3px black;
    padding: 6px;
    margin: 4px;
}

.close {
    display: none;
}

.show {
    display: grid;
}