* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(232, 172, 142, 0.2);
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "p1" "p2" "p3" "footer";
    row-gap: 15px;
}

.header {
    position: fixed;
    width: 100vw;
    grid-area: header;
    display: grid;
    background: rgba(244, 244, 244, 0.2);
    /* background: linear-gradient(180deg, rgba(232, 172, 142, 1) 0%, rgba(245, 210, 167, 1) 100%); */
    grid-row: 240px repeat(2, 50px);
    grid-template-areas: "logo" "slogan" "header_menu";
}

.logo {
    grid-area: logo;
    /* border: 1px solid black; */
    text-align: center;
}

.logo img {
    width: 120px;
}

.slogan {
    grid-area: slogan;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0 0 4px black;
}

.header_menu {
    margin-top: 10px;
    grid-area: header_menu;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header_menu_link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    margin: 5px;
}

.header_menu_item {
    font-size: 24px;
    font-weight: bolder;
    border-radius: 25px;
    padding: 5px;
}

.header_menu_item:hover {
    background-color: rgba(233, 255, 255, 0.5);
}

.link_active {
    background-color: rgba(233, 255, 255, 0.8);
}

.header_menu_item a {
    text-decoration: none;
}

.header_menu_item a :active {
    background: none;
}

.header_menu_item a:visited {
    color: black;
}

.page-1 {
    grid-area: p1;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
    margin-top: 200px;
}

.page-2 {
    grid-area: p2;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
}

.page-3 {
    grid-area: p3;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
}

.footer {
    grid-area: footer;
    height: 120px;
    background: rgb(244, 244, 244);
    background: linear-gradient(0deg, rgba(232, 172, 142, 1) 0%, rgba(245, 210, 167, 1) 100%);
}

.sp_title {
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 24px;
}

.sp_content {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


/* Cart */

div.cart {
    position: fixed;
    width: 50px;
    z-index: 1;
    bottom: 0;
    right: 50px;
}

div.cart img {
    width: 50px;
}

@media screen and (max-width:2550px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:2300px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:2150px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1900px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1500px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:950px) {
    .sp_content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (orientation:landscape) and (max-width:950px) {
    .header {
        top: -120px;
    }
    .page-1 {
        margin-top: 80px;
    }
}

@media screen and (max-width:620px) {
    .sp_content {
        grid-template-columns: 1fr;
    }
    .header_menu_item {
        font-size: 22px;
    }
    .header {
        top: -120px;
    }
    .page-1 {
        margin-top: 70px;
    }
    div.cart {
        right: 0;
        bottom: 50px;
    }
}

@media screen and (max-width:360px) {
    .header_menu_link {
        grid-template-columns: repeat(3, 100px);
    }
    .header_menu_item {
        font-size: 18px;
    }
}

.product-card {
    display: grid;
    width: 300px;
    grid-template-areas: "photo" "." "name" "." "weights" "." "buttonAdd";
    border: 3px solid tan;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(232, 172, 142, 0.8);
    padding-bottom: 15px;
    background-color: whitesmoke;
    margin: 10px;
}

.product-card:hover {
    box-shadow: 0 0 10px black;
}

.photo {
    text-align: center;
    grid-area: photo;
}

.photo>img {
    border-radius: 10px;
    width: 294px;
    pointer-events: none;
}

.name {
    display: grid;
    padding-left: 5px;
    grid-area: name;
    grid-template-areas: "productName" "." "filling";
}

.product_name {
    grid-area: productName;
    font-weight: bold;
    font-size: 24px;
}

.name .filling {
    grid-area: filling;
}

.weights {
    margin-top: 10px;
    padding-left: 5px;
    text-align: center;
    justify-content: center;
    grid-area: weights;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
}

.weights_item {
    border: 3px solid rgba(181, 137, 87, 0.5);
    margin: 0 5px 0 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    height: 35px;
    align-items: center;
    display: grid;
}

.weights_item:hover {
    background-color: tan;
    box-shadow: 0 0 5px rgba(180, 150, 160, 1);
    border: none;
    color: white;
}

.button-add {
    grid-area: buttonAdd;
    margin-left: 5px;
    margin-top: 15px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "btn_add_text t_price tp_price ";
}

.cstyle {
    /* border: 3px solid rgba(181, 137, 87, 0.5); */
    border: 3px solid tan;
    margin-right: 5px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
}

.btn_add_text {
    grid-area: btn_add_text;
    text-align: center;
}

.btn_add_text:hover {
    background-color: tan;
    box-shadow: 0 0 5px rgba(180, 150, 160, 1);
    color: white;
}

.t-price {
    grid-area: t_price;
}

.tp-price {
    grid-area: tp_price;
}

.t-price,
.tp-price {
    display: grid;
    /* border: 1px solid black; */
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: tan;
    color: white;
}

div.goUp {
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
    display: grid;
}

div.goUp a img {
    width: 50px;
    border-radius: 25px;
}

.hidden {
    display: none;
}