.cart {
    margin-top: 10px;
    position: fixed;
    display: grid;
    right: 0;
    width: 70px;
    border-radius: 6px;
    grid-template-columns: repeat(2, 1fr);
}

.cart_count {
    z-index: 1;
    position: absolute;
    top: 35px;
    left: 10px;
    width: 18px;
    background-color: red;
    border-radius: 9px;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 2px;
}

.button_basket>img {
    width: 60px;
    /* box-shadow: 0 0 5px black; */
    border-radius: 30px;
    animation: pulse 10s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.0.4);
    }
    100% {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.7);
    }
}