.cart {
    position: fixed;
    display: grid;
    right: 5px;
    width: 100px;
    height: 60px;
    border-radius: 6px;
    grid-template-columns: repeat(2, 1fr);
}

.cart_count {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 25px;
    color: white;
    text-align: center;
    text-shadow: 0 0 1px black;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.55);
    border-radius: 25px;
    padding: 2px;
}

.button_basket>img {
    width: 90px;
}