div.navbar {
    display: grid;
    position: fixed;
    width: 100vw;
    bottom: 0;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F7E8D8;
    grid-template-areas: ". links .";
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
    height: 50px;
    border-radius: 5px 5px 0 0;
}

.navbar_links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40px;
    gap: 5px;
    align-items: center;
}

.navbar_item {
    position: relative;
    border-radius: 0 0 10px 10px;
    height: 40px;
    justify-content: center;
    background-color: #ebddcb;
}

.navbar_item:hover {
    box-shadow: 0 0 5px rgba(50, 50, 50);
}

.navbar_item a {
    position: relative;
    text-align: center;
    display: block;
    padding: 5px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--main-font-color);
}

.navbar_item a:active {
    background-color: none;
}