* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8D3BE;
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "p1" "p2" "p3" "footer";
    row-gap: 15px;
}

.header {
    width: 100vw;
    grid-area: header;
    display: grid;
    background: rgba(244, 244, 244, 0.2);
    /* background: linear-gradient(180deg, rgba(232, 172, 142, 1) 0%, rgba(245, 210, 167, 1) 100%); */
    /* grid-row: 240px 50px; */
    grid-template-areas: "logo" "slogan" "hinfo";
}

.logo {
    grid-area: logo;
    /* border: 1px solid black; */
    text-align: center;
}

.logo img {
    width: 120px;
}

.slogan {
    grid-area: slogan;
    font-size: 24px;
    font-weight: bold;
    color: rgba(216, 174, 119, 1);
}

.hInfo a {
    grid-area: hinfo;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 0 0 3px black;
}

.page-1 {
    grid-area: p1;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
}

.page-2 {
    grid-area: p2;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
    background-color: rgba(245, 245, 240, 0.2);
}

.page-3 {
    grid-area: p3;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
    padding-bottom: 50px;
}

.footer {
    grid-area: footer;
    height: 120px;
    background: rgb(244, 244, 244);
    background: linear-gradient(0deg, rgba(232, 172, 142, 1) 0%, rgba(245, 210, 167, 1) 100%);
}

.sp_title {
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 24px;
}

.sp_content {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width:2550px) {}

@media screen and (max-width:2300px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:2150px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1900px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1500px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:950px) {
    .sp_content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (orientation:landscape) and (max-width:950px) {
    .header {
        top: -120px;
    }
    .page-1 {
        margin-top: 80px;
    }
}

@media screen and (max-width:620px) {
    .sp_content {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:360px) {
    .header_menu_link {
        grid-template-columns: repeat(3, 100px);
    }
}

.product-card {
    display: grid;
    width: 304px;
    grid-template-areas: "photo" "." "name" "." "weights" "." "buttonAdd";
    /* border: 3px solid tan; */
    border-radius: 15px;
    box-shadow: 0 0 5px whitesmoke;
    padding: 2px 2px 15px 2px;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 5px;
}

.product-card:hover {
    box-shadow: 0 0 10px black;
}

.photo {
    text-align: center;
    grid-area: photo;
}

.photo>img {
    border-radius: 15px;
    width: 300px;
    pointer-events: none;
}

.name {
    display: grid;
    padding-left: 5px;
    grid-area: name;
    grid-template-areas: "productName" "." "filling";
}

.product_name {
    grid-area: productName;
    font-weight: bold;
    font-size: 24px;
}

.name .filling {
    grid-area: filling;
}

.weights {
    margin-top: 10px;
    padding-left: 5px;
    text-align: center;
    justify-content: center;
    grid-area: weights;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
}

.weights_item {
    border: 3px solid rgba(181, 137, 87, 0.5);
    margin: 0 5px 0 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    height: 35px;
    align-items: center;
    display: grid;
}

.weights_item:hover {
    background-color: tan;
    box-shadow: 0 0 5px rgba(180, 150, 160, 1);
    border: none;
    color: white;
}

.button-add {
    grid-area: buttonAdd;
    margin-left: 5px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "btn_add_text t_price tp_price ";
}

.cstyle {
    border: 3px solid tan;
    margin-right: 5px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
}

.btn_add_text {
    grid-area: btn_add_text;
    text-align: center;
}

.btn_add_text:hover {
    background-color: tan;
    box-shadow: 0 0 5px rgba(180, 150, 160, 1);
    color: white;
}

.t-price {
    grid-area: t_price;
}

.tp-price {
    grid-area: tp_price;
}

.t-price,
.tp-price {
    display: grid;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}