:root {
    --main-bg-color: #faf0e4;
    --sec-bg-color: #F0DEC6;
    --main-font-color: #532921;
    --sec-font-color: #c3651f;
    --main-hf-shadow: rgba(83, 41, 33, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'RawerCR';
    src: url('../fonts/RawerCR.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'RawerCR', Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
}

.grid-container {
    display: grid;
    grid-template-areas: "header" "grid-slider" "p1" "p2" "p3";
    row-gap: 15px;
}

.header {
    grid-area: header;
    background: whitesmoke;
    box-shadow: 0 0 8px var(--main-hf-shadow);
    border-radius: 0 0 5px 5px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.logo>div {
    position: relative;
    margin: 0 auto;
    width: 150px;
}

.logo img {
    width: 150px;
}

.city {
    position: absolute;
    top: 0;
}

.social_links {
    display: flex;
    text-align: center;
    background-color: var(--main-font-color);
    justify-content: center;
    padding: 5px;
}

.social_links div {
    display: inline-block;
}

.social_links div img {
    width: 32px;
}

.phoneLink>a {
    color: var(--main-font-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.grid-slider {
    grid-area: grid-slider;
    display: grid;
    justify-content: center;
}

.page-1 {
    grid-area: p1;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
}

.page-2 {
    grid-area: p2;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
    background-color: rgba(222, 193, 160, 0.2);
}

.page-3 {
    grid-area: p3;
    display: grid;
    grid-template-areas: "sp_title" "sp_content";
    justify-content: center;
    padding-bottom: 50px;
}

.footer {
    background: var(--main-font-color);
    color: white;
    height: 120px;
    padding-top: 10px;
    text-align: center;
}

.sp_title {
    /* border: 1px solid black; */
    font-weight: bold;
    font-size: 24px;
    color: var(--sec-font-color);
}

.sp_content {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.product-card {
    display: grid;
    width: 304px;
    grid-template-areas: "photo" "." "name" "." "weights" "." "buttonAdd";
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.4);
    padding: 2px 2px 15px 2px;
    background-color: white;
    margin: 5px;
}

.product-card:hover {
    box-shadow: 0 0 10px black;
}

.photo {
    text-align: center;
    grid-area: photo;
}

.photo>img {
    border-radius: 15px;
    width: 300px;
    pointer-events: none;
}

.name {
    display: grid;
    padding-left: 5px;
    grid-area: name;
    grid-template-areas: "productName" "." "filling";
}

.product_name {
    grid-area: productName;
    font-weight: bold;
    font-size: 24px;
    padding: 4px;
}

.name .filling {
    grid-area: filling;
}

.weights {
    margin-top: 10px;
    padding-left: 5px;
    text-align: center;
    justify-content: center;
    grid-area: weights;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
}

.weights_item {
    border: 3px solid rgba(181, 137, 87, 0.5);
    margin: 0 5px 0 0;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    height: 35px;
    align-items: center;
    display: grid;
}

.weights_item:hover {
    background-color: var(--main-bg-color);
    box-shadow: 0 0 5px rgba(180, 150, 160, 1);
    border: none;
    color: var(--sec-font-color);
}

.button-add {
    grid-area: buttonAdd;
    display: grid;
    margin-left: 5px;
    margin-top: 15px;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "btn_add_text t_price tp_price ";
}

.cstyle {
    border: 3px solid tan;
    margin-right: 5px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}

.btn_add_text {
    grid-area: btn_add_text;
    text-align: center;
    padding: 4px;
}

.btn_add_text:hover {
    background-color: var(--main-bg-color);
    border: 3px solid var(--main-bg-color);
    box-shadow: 0 0 5px rgba(180, 150, 160, 1);
    color: var(--sec-font-color);
}

.t-price {
    grid-area: t_price;
}

.tp-price {
    grid-area: tp_price;
}

.t-price,
.tp-price {
    display: grid;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.cookies_msg {
    position: fixed;
    display: grid;
    width: 100vw;
    font-size: 14px;
    bottom: 0;
    align-items: center;
    text-align: center;
    padding: 2px;
    background-color: rgba(225, 225, 225, 0.9);
    border-radius: 5px;
    z-index: 2;
}

.cookies_msg div {
    text-align: center;
    box-shadow: 0 0 2px black;
    color: black;
}

.cookies_msg div a {
    color: var(--sec-font-color);
    text-decoration: none;
}

.cookies_msg__close {
    font-weight: bold;
}

@media screen and (max-width:2300px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:2150px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1900px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width:1500px) {
    .sp_content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:980px) {
    .sp_content {
        grid-template-columns: 1fr 1fr;
    }
    .gifts {
        font-size: 24px;
    }
}

@media screen and (max-width:620px) {
    .sp_content {
        grid-template-columns: 1fr;
    }
    .cookies_msg {
        bottom: 60px;
    }
    .cookies_msg__item {
        display: grid;
        grid-template-columns: 1fr 15px;
        align-items: center;
    }
    .discount_birth>img {
        width: 100%;
    }
    .db_txt {
        font-size: 32px;
    }
    .db_txt2 {
        font-size: 27px;
        right: 50px;
        bottom: 10px;
    }
    .db_back2 {
        width: 96%;
    }
}

@media screen and (max-width:360px) {
    .header_menu_link {
        grid-template-columns: repeat(3, 100px);
    }
    .db_txt {
        font-size: 26px;
    }
    .db_txt2 {
        font-size: 24px;
        right: 40px;
        bottom: 10px;
    }
}