<div class="basket_info">
    <div>Cake 1</div>
    <div>Cake 2</div>
    <div>Cake 3</div>
    <div>Cake 4</div>
    <button class="create_order">Создать заказ</button>
    <button>Закрыть</button>
</div>