<div class="basket_info">
    <div class="product_list"></div>
    <div class="total_price">
        <div class="tpInfo-1">Итого :</div>
        <div class="total_price__item">0</div>
        <div class="tpInfo-2">руб.</div>
    </div>
    <button class="b1">Скрыть</button>
    <button class="b2">Оформить</button>
</div>