<div class="register_order__info">
    <div class="ro_title">
        <h4>Оформление заказа</h3>
    </div>
    <div class="ro_product_list"></div>

    <div class="ro_delivery">
        <div class="ro_delivery__text">
            Доставка
        </div>
        <div class="ro_delivery_price">
            <span class="ro_delivery_price__summ"></span>
            <span class="ro_delivery__curr"></span>
        </div>
    </div>

    <div class="ro_total">
        <div class="ro_total_text">К оплате</div>
        <div class="ro_total_cost">
            <span class="ro_total_cost__summ">0</span>
            <span class="ro_total__curr"> руб.</span>
        </div>
    </div>

    <div class="ro_contact">
        <form method="POST" action="/create/order">
            <div class="ro_contact__phone">
                <input type="tel" required name="phone" id="phone" placeholder="Телефон">
            </div>
            <div class="ro_contact__street">
                <input type="text" required name="street" id="street" placeholder="Улица">
            </div>
            <div class="ro_contact__build">
                <input type="text" required name="build" id="build" placeholder="Дом">
            </div>
            <div class="ro_contact__entrance">
                <input type="text" required name="entrance" id="entrance" placeholder="Подъезд">
            </div>
            <div class="ro_contact__flat">
                <input type="text" required name="flat" id="flat" placeholder="Квартира">
            </div>
            <div class="ro_contact__comment">
                <textarea type="text" name="comment" id="comment" placeholder="Комментарий"></textarea>
            </div>
            <div class="ro_send_products"></div>
            <div class="ro_buttons">
                <button type="button" onclick="closeRegisterOrderPage()" class="ro_buttons__cancel">Отмена</button>
                <button type="submit" class="ro_buttons__send">Отправить</button>
            </div>
        </form>
    </div>

</div>