<div class="slider">
    <div class="slider__wrapper">
        <div class="slider__item">
            <div class="birthday" style="height: 250px; background-image:url('/images/birthday.png');">
                <div class="brth_item">
                    <img src="/images/text_back.png" alt="">
                    <div class='birthday__head__text'>ВКУСНЕЕ, ЧЕМ ТОРТЫ</div>
                </div>
                <div class="birth_item__footer">
                    <img src="/images/002_text_back.png" alt="">
                    <span>СКИДКА 10% ИМЕНИННИКАМ<br/>НА ВСЕ ПИРОГИ</span>
                </div>


            </div>
        </div>
        <div class="slider__item">
            <div class="gift_second_pie" style="height: 250px; background-image:url('/images/gift_pies.png');">

                <div class="gift_second_pie__text">
                    <img src="/images/gift_pie_text_back.png" alt="">
                    <span class="text_1">АКЦИЯ 1+1  </span>
                    <span class="text_2">ВТОРОЙ ПИРОГ БЕСПЛАТНО</span>
                </div>
                <div class="gift_list">
                    <div>Акция действует до 25.08.20.<br/>Второй пирог на выбор:<br/> с яблоком, с вишней, с клубникой, с курицей, с судаком, с говядиной</div>
                </div>
                <div class="pies_back">
                    <img src="/images/1_pie.png" alt="">
                    <span>+</span>
                    <img src="/images/2_pie.png" alt="">
                </div>

            </div>

        </div>
        <!-- <div class="slider__item">
        <div style="height: 250px; background: violet;">3</div>
    </div>
    <div class="slider__item">
        <div style="height: 250px; background: coral;">4</div>
    </div> -->
    </div>
    <a class="slider__control slider__control_left" href="" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="" role="button"></a>
</div>