<div class="slider">
    <div class="slider__wrapper">
        <div class="slider__item">
            <div class="birthday" style="height: 250px; background-image:url('/images/birthday.png');">
                <div class="brth_item">
                    <img src="/images/text_back.png" alt="">
                    <div class='birthday__head__text'>ВКУСНЕЕ, ЧЕМ ТОРТЫ</div>
                </div>
                <div class="birth_item__footer">
                    <img src="/images/002_text_back.png" alt="">
                    <span>СКИДКА 10% ИМЕНИННИКАМ<br/>НА ВСЕ ПИРОГИ</span>
                </div>


            </div>
        </div>
    </div>
    <a class="slider__control slider__control_left" href="" role="button"></a>
    <a class="slider__control slider__control_right slider__control_show" href="" role="button"></a>
</div>