<div class="slider__wrapper">
    <div class="slider__item">
        <div style="height: 250px; background-image:url('/images/birthday.png');">СКИДКА 10% ИМЕНИННИКАМ</div>
    </div>
    <div class="slider__item">
        <div style="height: 250px; background-image:url('/images/gift_pies.png');">
            <div class="gifts">
                <div>
                    При заказе от 1кг
                    <br/> пирог на выбор в подарок:
                </div>

                <div>С яблоком, c вишней, с клубникой,</div>
                <div>с курицей, с судаком, с говядиной</div>
                <div>Вес:1кг</div>
            </div>

        </div>

    </div>
    <!-- <div class="slider__item">
        <div style="height: 250px; background: violet;">3</div>
    </div>
    <div class="slider__item">
        <div style="height: 250px; background: coral;">4</div>
    </div> -->
</div>
<a class="slider__control slider__control_left" href="" role="button"></a>
<a class="slider__control slider__control_right slider__control_show" href="" role="button"></a>