<div class="sp_title">
    Овощные пироги
</div>

<div class="sp_content">
    <%if (products) {%>
        <%for(let i=11;i<15;i++) { let tmp_price;%>
            <% if (prices) {%>

                <%for(let j=0; j<prices.length;j++){%>

                    <%if(prices[j]["pId"] == products[i]["id"]) {%>
                        <% tmp_price = prices[j]%>
                            <%}%>

                                <%}%>
                                    <%- include( "../product_card.ejs",{product:products[i],price:tmp_price})%>

                                        <%}%>
                                            <%}%>
                                                <%}%>
</div>