<html>

<head>
    <%- include("../partials/head.ejs")%>
</head>

<body>
    <div class="grid-container">
        <div class="header">header</div>
        <!-- Sweet pies page start-->
        <div class="page-1">
            <div class="sp_title">Сладкие пироги</div>
            <div class="sp_content">
                <%if (products) {%>
                    <%for(let i=0;i<11;i++) { let tmp_price;%>

                        <%for(let j=0; j<prices.length;j++){%>
                            <%if(prices[j]["pId"] == products[i]["id"]) {%>
                                <% tmp_price = prices[j]%>
                                    <%}%>
                                        <%}%>
                                            <%- include( "../partials/product_card.ejs",{product:products[i],price:tmp_price})%>
                                                <%}%>

                                                    <%}%>
            </div>

        </div>
        <!-- Sweet pies page end -->

        <!-- Vegetable pies page start -->
        <div class="page-2">page 2</div>
        <!-- Vegetable pies page end -->

        <!-- Hearty pies page start -->
        <div class="page-3">page 3</div>
        <!-- Hearty pies page end -->
    </div>
</body>
<script type="text/javascript" src="js/product_card_click_handler.js"></script>

</html>