<!doctype html>
<html>

<head>
    <%-include('../metrika/metrika.ejs')%>
    <link rel="stylesheet" type="text/css" href="/css/thnx.min.css">
    <%-include('../partials/favicons.ejs')%>
</head>

<body>
    <div id="thnx">
        <div class="thnx_grid">
            <div class="thnx_grid__item">
                <img src="/images/logothnx.png" alt="">
                <div>Заказ принят</div>
                <%if(id){%>
                    <div>№ <%= id%> </div>
                <%}%>
                <a href="/">
                    На главную
                </a>
            </div>
        </div>
    </div>
</body>

</html>