<!doctype html>
<html>

<head>

</head>

<body>
    <h1>
        Заказ принят и ваши пироги скоро будут доставлены. Спасибо.
    </h1>
    <a href="/">Вернуться на главную страницу</a>

</body>

</html>